* {
    font-family: Arial;
}

body {
    background-image: url('../media/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    margin-top: 0;
    overflow: hidden;
}

div.center_img {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

div.center_img figure {
    justify-content: center;
    width: 20%;
}

div.center_img figure img {
    width: 100%;
    height: fixed;
    border-radius: 25%;
}

div.center_img h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

div.choices {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    z-index: 10;
}

button {
    padding: 2.5% 10%;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: .15s ease;
    z-index: 15;
}

button.yes {
    border: 2px solid grey;
    background-color: #2ae319;
}

button.no {
    border: 2px solid grey;
    background-color: #e31919;
}

button:hover {
    color: #000;
    background-color: #fff;
}

/** Laptop **/
@media (max-width: 1075px) {
    main {
        left: 23%;
    }
}

/** Tablet **/
@media (max-width: 768px) {
    main {
        left: 15%;
    }
}

body h1 {
    text-align: center;
}

